
header {
    width: 95%;
    background-color: #5d84a8;
    border-radius: 25px;
    margin: 10px auto 5px;
    text-align: center;
}
h1, h2, h3, h4 {
    margin: 0 auto;
}

p {
    padding: 0 5px;
}

h3 {
    background-color: #5d84a8;
    border-radius: 25px 25px 0 0;
}

body {
    background-color: #d1e6db;
}

main {
    display: grid;
    width: 95%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
}

main div {
    display: grid;
    width: 95%;
    text-align: center;
    background-color: floralwhite;
    border-radius: 25px;
    margin: 5px auto;
}

img {
    max-width: 300px;
    margin: 0 auto;
}

footer {
    border-radius: 25px;
    width: 95%;
    margin: 5px auto;
    background-color: #000000;
}

h1, h2, h3, h4, h5, a, p {
    font-family: "Ubuntu Mono", "Courier New", monospace;
}

h5 {
    font-weight: bold;
    font-size: 1em;
    margin: auto auto;
    text-align: center;
}

a {
    padding-bottom: 5px;
}

footer div {
    color: #cacaca;
    margin: 0 auto;
    align-content: center;
    justify-items: center;
    padding: 5px 0;
}

@media screen and (max-width: 725px) {
    main {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 1000px) and (min-width: 726px) {
    main {
        grid-template-columns: 1fr 1fr;
    }
    #contrast {
        grid-column: 1 / 3;
    }
}

